@tailwind base;
@tailwind components;
@tailwind utilities;



.image-container {
    display: flex;
    align-items: center; /* Vertically centers the images */
    justify-content: flex-start; /* Aligns images to the left */
    gap: 3rem; /* Adds space between the images */
  }
  
  img {
    width: 16rem; /* Adjusts the width to 64 (16rem) */
    height: auto; /* Maintains the aspect ratio */
  }
  
